<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



<th:block>

    <script>
        mcp_access = {
            url:'/ch9/access',
            myVideoStream:null,
            targetId:'',
            init:function(){

            },
            getVideo:function(){

            },
            takeSnapshot: async function(){

            },
            makePreviewHtml: async function(){

            },
            send:async function(){

            },
            responseDisplay: function(result){

            }
        }
        window.onload = function(){
            mcp_access.init();
        }
    </script>


    <div class="col-sm-10">
        <h2 class="text-center">2. Mcp Access</h2>
        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-sm-9">
                    <button class="btn btn-primary" disabled id="spinner">
                        <span class="spinner-border spinner-border-sm" ></span>
                        Loading..
                    </button>
                    <div class="card">

                        <div class="card-header text-muted d-flex justify-content-start align-items-center p-3">
                            <div class="input-group mr-0">
                                <button type="button" class="btn btn-warning" id="capture_btn">Image Capture & Send</button>
                            </div>
                        </div>
                        <div id="result" class="card-body" data-mdb-perfect-scrollbar-init >

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <video id="video_area" src="" alt="" height="300px" autoplay style="border:1px solid blue"/>
                </div>
            </div>
        </div>
    </div>

</th:block>

</html>