<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <h4>3. Advisor API</h4>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> 1. Advisor</td>
            <td>다양한 Advisor를 이용하여 LLM과 소통 합니다.
                <ul>
                    <li>SimpleLoggerAdvisor: 개발자 console에 log를출력</li>
                    <li>SimpleLoggerAdvisorLow: 특정 파일에 질의 내용과 응답 내용만 log로 저장</li>
                    <li>SimpleLoggerAdvisorHigh: 특정 파일에 LLM과 연동 될때 사용되는 메시지를 log로 저장</li>
                    <li>SafeGuardAdvisor: 특정 문자가 입력 되면 진행을 중지</li>
                    <li>CheckCharSizeAdvisor: 입렫 되는 단어의 크기에 따라 진행을 중지</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td> 2. Advisor: Stream</td>
            <td>다양한 Advisor를 Reactive Streams을 이용하여 LLM과 소통 합니다.</td>
        </tr>
        <tr>
            <td> 3. Recursive Advisors</td>
            <td>Recursive Advisor는 특정 조건이 충족될 때까지 LLM을 재귀적 또는 반복적으로 호출하여<br>
                추가적인 후처리, 품질 향상, 검증 루프 등을 구성할 수 있는 고급 제어 메커니즘입니다.</td>
        </tr>
        </tbody>
    </table>

</th:block>

</html>