<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



<th:block>

    <script>
        text_to_speech_chat_stream = {
            url: '/ch5/text-to-speech-chat-stream',
            init:function(){
                document.querySelector("#send_btn").addEventListener("click", ()=>{
                    this.send();
                })
                document.querySelector("#spinner").style.cssText = "visibility:hidden;";
            },
            makeQuestionHtml:function(question){
                const questionArea = document.createElement("div");
                questionArea.innerHTML = `
                                    <div class="d-flex justify-content-between">
                                        <p class="small mb-1">User</p>
                                        <p class="small mb-1 text-muted">`+new Date().toLocaleTimeString('ko-kr')+`</p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-start">
                                        <img src="/imgs/user.jpg"
                                             alt="User" style="width: 45px; height: 100%;">
                                        <div>
                                            <p class="small p-2 ms-3 mb-3 rounded-3 bg-body-tertiary bg-warning">`+question+`</p>
                                        </div>
                                    </div>
                                    `;
                document.querySelector('#result').prepend(questionArea);
            },
            makeResponseHtml: async function(){
                let targetId = "target-" + crypto.getRandomValues(new Uint32Array(10));
                const responseArea = document.createElement("div");
                responseArea.innerHTML = `
                                        <div class="d-flex justify-content-between">
                                            <p class="small mb-1 text-muted">`+new Date().toLocaleTimeString('ko-kr')+`</p>
                                            <p class="small mb-1">Chatbot</p>
                                        </div>
                                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                            <div id="`+targetId+`" class="small p-2 me-3 mb-3 rounded-3 bg-info" style="overflow: auto">
                                                    <span class="input-group-text me-2">음성 응답</span><br>
                                                    <audio id="audioTarget" controls></audio>
                                            </div>
                                            <img src="/imgs/chatbot.png"
                                                 alt="Chat Bot" style="width: 45px; height: 100%;">
                                        </div>
                                    `;
                document.querySelector('#result').prepend(responseArea);
                return targetId;
            },
            send:async function(){
                document.querySelector('#spinner').style.cssText = "visibility:visible;";
                const question = document.querySelector('#question').value;

                this.makeQuestionHtml(question);

                const response = await fetch(this.url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'Accept': 'application/octet-stream'
                    },
                    body: new URLSearchParams({prompt: question})
                });

                const targetId = await this.makeResponseHtml();
                await this.responseDisplay(response, targetId);
            },
            responseDisplay:async function(response, targetId){
                const container = document.getElementById(targetId);

                const audioPlayer = container.querySelector('#audioTarget');

                const mediaSource = new MediaSource();
                audioPlayer.src = URL.createObjectURL(mediaSource);
                audioPlayer.play();

                mediaSource.addEventListener('sourceopen', async () => {
                    const audioBuffer = mediaSource.addSourceBuffer('audio/mpeg');
                    const reader = response.body.getReader();

                    function waitForUpdateEnd(buffer) {
                        return new Promise(resolve => {
                            // 이벤트가 발생하면 Promise를 처리하도록 리스너 추가
                            buffer.addEventListener('updateend', resolve, { once: true });
                        });
                    }
                    let cnt = 0;
                    while (true) {
                        const { value, done } = await reader.read();
                        if (done) {
                            mediaSource.endOfStream();
                            break;
                        }
                        console.log(value);
                        console.log('Count:  %s ', cnt++);

                        console.log('Value:  %s ', value);
                        audioBuffer.appendBuffer(value);
                        await waitForUpdateEnd(audioBuffer);
                    }
                });
                document.querySelector("#spinner").style.cssText = "visibility:hidden;";
            }
        }
        window.onload = function(){
            text_to_speech_chat_stream.init();
        }
    </script>


    <div class="col-sm-10">
        <h2 class="text-center">3. Text to Speech: Chat Stream</h2>
        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-sm-10">
                    <button class="btn btn-primary" disabled id="spinner">
                        <span class="spinner-border spinner-border-sm" ></span>
                        Loading..
                    </button>
                    <div class="card">
                        <div class="card-header text-muted d-flex justify-content-start align-items-center p-3">
                            <div class="input-group mb-0">
                                <input  id="question" type="text" class="form-control" placeholder="Type message" value="너는 이름이 뭐야"
                                        aria-label="Recipient's username" aria-describedby="button-addon2" />
                                <button type="button" class="btn btn-primary" id="send_btn">Send</button>
                            </div>
                        </div>
                        <div id="result" class="card-body" data-mdb-perfect-scrollbar-init >


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

</html>