<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



<th:block>

    <script>
        speech_to_text_chat_voice = {
            url: '/ch5/speech-to-text-chat-voice',
            audioStream: '',
            mediaRecorder: '',
            init:function(){
                document.querySelector("#record_btn").addEventListener("click", ()=>{this.startRecording()});
                document.querySelector("#stop_btn").addEventListener("click", ()=>{this.stopRecording()});
                document.querySelector("#spinner").style.cssText = "visibility:hidden;";
            },
            startRecording:async function() {
                let chunks = [];
                let stream = null;
                try {
                    stream = await navigator.mediaDevices.getUserMedia({ audio: true })
                    this.audioStream = stream;
                    this.mediaRecorder = new MediaRecorder(stream);
                    this.mediaRecorder.ondataavailable = function(event) {
                        chunks.push(event.data);
                    };
                    this.mediaRecorder.onstop = () => {
                        const blob = new Blob(chunks, { 'type' : 'audio/ogg; codecs=opus' });
                        const audioURL = URL.createObjectURL(blob);
                        this.send(blob, audioURL);
                        chunks = [];
                    };
                    this.mediaRecorder.start();
                    document.querySelector("#record_btn").disabled = true;
                    document.querySelector("#stop_btn").disabled = false;
                } catch (err) {
                    console.error('Error accessing the microphone: ' + err);
                }
            },
            stopRecording:function(){
                this.mediaRecorder.stop();
                this.audioStream.getTracks().forEach(track => track.stop());
                document.querySelector("#record_btn").disabled = false;
                document.querySelector("#stop_btn").disabled = true;
            },
            makeQuestionHtml:function(audioTargetId){
                const questionArea = document.createElement("div");
                questionArea.innerHTML = `
                                <div class="d-flex justify-content-between">
                                    <p class="small mb-1">User</p>
                                    <p class="small mb-1 text-muted">`+new Date().toLocaleTimeString('ko-kr')+`</p>
                                </div>
                                <div class="d-flex flex-row justify-content-start">
                                    <img src="/imgs/user.jpg"
                                         alt="avatar 1" style="width: 45px; height: 100%;">
                                    <div>
                                        <p class="small p-2 ms-3 mb-3 rounded-3 bg-body-tertiary">
                                              <audio id="`+audioTargetId+`" controls></audio>
                                        </p>
                                    </div>
                                </div>
                                `;
                document.querySelector('#result').prepend(questionArea);
            },
            makeResponseHtml: async function(){
                const targetId = "target-" + crypto.getRandomValues(new Uint32Array(10));
                const responseArea = document.createElement("div");
                responseArea.innerHTML = `
                                        <div class="d-flex justify-content-between">
                                            <p class="small mb-1 text-muted">`+new Date().toLocaleTimeString('ko-kr')+`</p>
                                            <p class="small mb-1">Chatbot</p>
                                        </div>
                                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                            <div id="`+targetId+`" class="small p-2 me-3 mb-3 rounded-3 bg-info" style="overflow: auto">
                                                    <span class="input-group-text me-2">변환된 음성 <a id="audioDownload" href="" class="text-black"></a></span><br>
                                                    <audio id="audioTarget" controls></audio>
                                                    <pre class="text-white" style="font-weight: bold" id="answer"></pre>
                                            </div>
                                            <img src="/imgs/chatbot.png"
                                                 alt="Chat Bot" style="width: 45px; height: 100%;">
                                        </div>
                                    `;
                document.querySelector('#result').prepend(responseArea);
                return targetId;
            },
            send:async function(blob, audioURL){
                document.querySelector('#spinner').style.cssText = "visibility:visible;";
                const audioTargetId = "target-" + crypto.getRandomValues(new Uint32Array(10));
                this.makeQuestionHtml(audioTargetId);

                document.getElementById(audioTargetId).src = audioURL;

                const formData = new FormData();
                formData.append("attach", blob, "speech.mp3");

                const response = await fetch(this.url, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json'
                    },
                    body: formData
                });
                const responseJson = await  response.json();
                const targetId = await this.makeResponseHtml();
                this.responseDisplay(responseJson, targetId);
            },
            responseDisplay:function(responseJson, targetId){
                const container = document.getElementById(targetId);
                const answerArea = container.querySelector('#answer');
                answerArea.innerHTML = responseJson.answer;

                const audioPlayer = container.querySelector('#audioTarget');
                let base64Src = "data:audio/mp3;base64," + responseJson.audio;
                audioPlayer.src = base64Src;

                const alink = container.querySelector('#audioDownload');
                alink.innerHTML = "Download";
                alink.href = base64Src;
                alink.download = "output-"+new Date().getTime()+".mp3";

                document.querySelector("#spinner").style.cssText = "visibility:hidden;";
                audioPlayer.play();
            }
        }
        window.onload = function(){
            speech_to_text_chat_voice.init();
        }
    </script>


    <div class="col-sm-10">
        <h2 class="text-center">6. Speech to Text : Chat Voice</h2>
        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-sm-10">
                    <button class="btn btn-primary" disabled id="spinner">
                        <span class="spinner-border spinner-border-sm" ></span>
                        Loading..
                    </button>

                    <div class="card">
                        <div class="card-header text-muted d-flex justify-content-start align-items-center p-3">
                            <div class="input-group mb-0">
                                <span class="input-group-text mr-2">음성으로 질문하세요</span>
                                <button type="button" class="btn btn-primary mr-2" id="record_btn">Record</button>
                                <button type="button" class="btn btn-primary mr-2"  id="stop_btn">Stop & Send</button>
                            </div>
                        </div>
                        <div id="result" class="card-body" data-mdb-perfect-scrollbar-init >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

</html>