<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



<th:block>

    <script>
        map_output = {
            url: '/ch2/map-output',
            init:function(){
                document.querySelector("#send_btn").addEventListener("click", ()=>{
                    this.send();
                })
                document.querySelector("#spinner").style.cssText = "visibility:hidden;";
            },
            makeQuestionHtml:function(location, content, language){
                const questionArea = document.createElement("div");
                questionArea.innerHTML = `
                                <div class="d-flex justify-content-between">
                                    <p class="small mb-1">User</p>
                                    <p class="small mb-1 text-muted">`+new Date().toLocaleTimeString('ko-kr')+`</p>
                                </div>
                                <div class="d-flex flex-row justify-content-start">
                                    <img src="/imgs/user.jpg"
                                         alt="User" style="width: 45px; height: 100%;">
                                    <div>
                                        <p class="small p-2 ms-3 mb-3 rounded-3 bg-body-tertiary bg-warning">
                                        `+location+`지역에 `+content+`정보를 `+language+`로 알려줘
                                        </p>
                                    </div>
                                </div>
                                `;
                document.querySelector('#result').prepend(questionArea);
            },
            send:async function(){
                document.querySelector('#spinner').style.cssText = "visibility:visible;";
                const location = document.querySelector('#location').value;
                const content = document.querySelector('#content').value;
                const language = document.querySelector('#language').value;
                this.makeQuestionHtml(location, content, language);
                const response = await fetch(this.url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'Accept': 'application/json'
                    },
                    body: new URLSearchParams({location: location, content:content, language:language})
                });
                const responseText = await  response.text();
                this.responseDisplay(responseText);
            },
            responseDisplay:function(result){
                document.querySelector("#spinner").style.cssText = "visibility:hidden;";
                const responseArea = document.createElement("div");
                responseArea.innerHTML = `
                                <div class="d-flex justify-content-between">
                                    <p class="small mb-1 text-muted">`+new Date().toLocaleTimeString('ko-kr')+`</p>
                                    <p class="small mb-1">Chatbot</p>
                                </div>
                                <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                    <div class="small p-2 me-3 mb-3 rounded-3 bg-info" style="overflow: auto">
                                        <pre class="text-white" style="font-weight: bold">`+result+`</pre>
                                    </div>
                                    <img src="/imgs/chatbot.png"
                                         alt="Chat Bot" style="width: 45px; height: 100%;">
                                </div>
                            `;
                document.querySelector('#result').prepend(responseArea);
            }
        }
        window.onload = function(){
            map_output.init();
        }
    </script>


    <div class="col-sm-10">
        <h2 class="text-center">3. Structured Output Converter - Map Output Converter</h2>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-sm-2">
                    <div class="input-group p-1">
                        <span class="input-group-text">지역</span>
                        <select id="location" class="form-control">
                            <option value="서울시" selected>서울</option>
                            <option value="경기도">경기</option>
                            <option value="부산시">부산</option>
                            <option value="제주도">제주</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group p-1">
                        <span class="input-group-text">구분</span>
                        <select id="content" class="form-control">
                            <option value="맛집" selected>맛집</option>
                            <option value="숙박">숙박</option>
                            <option value="쇼핑샵">쇼핑샵</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group p-1">
                        <span class="input-group-text">언어</span>
                        <select id="language" class="form-control">
                            <option value="Korean" selected>한국어</option>
                            <option value="Chinese">중국어</option>
                            <option value="Japanese">일본어</option>
                            <option value="English">영어</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group p-1">
                        <button type="button" class="btn btn-primary" id="send_btn">Send</button>
                    </div>
                </div>
            </div>


            <div class="row d-flex justify-content-center">

                <div class="col-sm-10">
                    <button class="btn btn-primary" disabled id="spinner">
                        <span class="spinner-border spinner-border-sm" ></span>
                        Loading..
                    </button>
                    <div class="card">
                        <div class="card-header text-muted d-flex justify-content-start align-items-center p-2">
                        </div>
                        <div id="result" class="card-body" data-mdb-perfect-scrollbar-init >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

</html>