<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block>

    <script>
        parameterized_type_reference = {
            url: '/ch2/parameterized-type-reference',
            init:function(){

                document.querySelector("#spinner").style.cssText = "visibility:hidden;";
            },
            makeQuestionHtml:function(location, content, language){

            },
            send:async function(){

            },
            responseDisplay:function(result){

            }
        }
        window.onload = function(){
            parameterized_type_reference.init();
        }
    </script>


    <div class="col-sm-10">
        <h2 class="text-center">5. Structured Output Converter - Parameterized Type Reference</h2>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-sm-2">
                    <div class="input-group p-1">
                        <span class="input-group-text">지역</span>
                        <select id="location" class="form-control">
                            <option value="서울시" selected>서울</option>
                            <option value="경기도">경기</option>
                            <option value="부산시">부산</option>
                            <option value="제주도">제주</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group p-1">
                        <span class="input-group-text">구분</span>
                        <select id="content" class="form-control">
                            <option value="맛집" selected>맛집</option>
                            <option value="숙박">숙박</option>
                            <option value="쇼핑샵">쇼핑샵</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group p-1">
                        <span class="input-group-text">언어</span>
                        <select id="language" class="form-control">
                            <option value="Korean" selected>한국어</option>
                            <option value="Chinese">중국어</option>
                            <option value="Japanese">일본어</option>
                            <option value="English">영어</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group p-1">
                        <button type="button" class="btn btn-primary" id="send_btn">Send</button>
                    </div>
                </div>
            </div>


            <div class="row d-flex justify-content-center">

                <div class="col-sm-10">
                    <button class="btn btn-primary" disabled id="spinner">
                        <span class="spinner-border spinner-border-sm" ></span>
                        Loading..
                    </button>
                    <div class="card">
                        <div class="card-header text-muted d-flex justify-content-start align-items-center p-2">
                        </div>
                        <div id="result" class="card-body" data-mdb-perfect-scrollbar-init >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>